body {
    margin: 0 auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

main {
	background-color: #B2DFDB;
	margin: 25px 5% 25px 5%;
	padding: 50px;
}

h1 {    
    font-size: 4em;
    margin-bottom: 0;
    padding-bottom: 0;
}

h2 {
	font-size: 2.3em;
	margin: 0;
	pading: 0;
}

.information {
	width: 70%;
	margin: 0 auto;
	text-align: left;
}

ul {
    list-style-position: inside;
}

li  {
    font-size:14px;        /* set font size of list item and bullet here */
    list-style-type:none; /* removes default bullet */      
    position:relative;      /* positioning context for bullet */
}

li:before  {
	content:"\2219";    /* escaped unicode character */
    font-size:2.5em;    /* the default unicode bullet size is very small */
    line-height:0;        /* kills huge line height on resized bullet */
    position:absolute;  /* position bullet relative to list item */
    top:.23em;           /* vertical align bullet position relative to list item */
    left:-.5em;            /* position the bullet L- R relative to list item */
}

figure {
	padding-right padding-left: 20px;
	background-color: white;

}

img {
	padding: 1% 1% 0 1%;
    width: 98%;
    height: auto;
}

figcaption {
	padding-top: 10px;
	padding-bottom: 10px;
}

.year {
	font-weight: 700;
}

a {
	text-decoration: none;
}

